body {
    background-color: #ffffff; 
}

.navbar {
    background-color: #333;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1030; 
}

.navbar .navbar-brand, .navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #f39c12;
}

.hero-section {
    background-image: url('IMG1.jpg');
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    height: 70vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-section h1 {
    font-size: 4rem; /* Aumenta el tamaño del texto del encabezado */
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem; /* Aumenta el tamaño del subtítulo */
    margin-bottom: 20px;
}

.icon-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-input-group input {
    padding: 10px;
    border-radius: 30px 0 0 30px;
    border: none;
    font-size: 1.2rem;
}

.icon-input-group button {
    background-color: #f9a825; /* Color del botón de búsqueda */
    border: none;
    padding: 10px 20px;
    border-radius: 0 30px 30px 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.icon-input-group i {
    color: white;
}

.icon-input-group .btn-search {
    background-color: #f39c12;
    border: none;
    padding: 10px;
    border-radius: 50%;
    margin-left: -40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.icon-input-group .btn-search:hover {
    background-color: #e67e22;
    color: #fff;
}

.features-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card {
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    background-color: transparent; /* Fondo transparente */
    width: 200px;
    box-shadow: none;
}

.card:hover {
    transform: scale(1.05);
}

.card-icons i {
    font-size: 40px;
    color: #f39c12;
    margin-bottom: 15px;
}

.card h5 {
    color: #333;
    font-size: 1.2rem;
    margin-top: 10px;
}

.footer {
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.footer ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.footer ul li {
    display: inline;
    margin: 0 15px;
}

.footer ul li a {
    color: #f39c12;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.features-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.features-section .card {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s;
    background-color: transparent;
    width: 200px;
    box-shadow: none;
}

.features-section .card:hover {
    transform: scale(1.05);
}

.features-section .card-icons i {
    font-size: 40px;
    color: #f39c12;
    margin-bottom: 15px;
}

.features-section .card h5 {
    color: #333;
    font-size: 1.2rem;
    margin-top: 10px;
}

.content-section {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.content-section p {
    font-size: 1rem;
    color: #666;
}

.flight-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.flight-form label {
    font-weight: bold;
    color: #333;
}

.flight-form input, .flight-form select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.flight-form .btn {
    background-color: #f39c12;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.flight-form .btn:hover {
    background-color: #e67e22;
}

#flight-results {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.parking-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.parking-form label {
    font-weight: bold;
    color: #333;
}

.parking-form input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.parking-form .btn {
    background-color: #f39c12;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.parking-form .btn:hover {
    background-color: #e67e22;
}

#parking-results {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.about-section {
    position: relative;
    background-image: url('IMG2.jpg'); /* Reemplaza con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Imagen de fondo fija (efecto parallax) */
    height: 100vh; /* Ocupar toda la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    color: #fff; /* Texto en blanco para mejorar visibilidad */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 900px; /* Ancho máximo del contenedor */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.8; /* Espaciado entre líneas para mejor lectura */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth; /* Desplazamiento suave en los anclajes */
}

.employee-form {
    background-color: #f8f9fa; /* Fondo claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 900px;
    margin: 0 auto; /* Centrar el formulario */
}

.employee-form input[type="text"],
.employee-form select {
    border: 1px solid #ced4da; /* Borde gris claro */
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.employee-form label {
    font-weight: 500;
    margin-bottom: 8px;
    display: inline-block;
    color: #333; /* Color de texto oscuro */
}

.employee-form .btn {
    background-color: #f9a825; /* Color amarillo para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0; /* Espaciado y centrado */
}

.employee-form .btn:hover {
    background-color: #f57f17; /* Cambio de color al hacer hover */
}

.employee-form .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.employee-form .col-md-4 {
    flex: 1 1 calc(33% - 10px); /* Ajustar al 33% del ancho */
    min-width: 200px;
}

#employee-results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

#employee-results th, 
#employee-results td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#employee-results th {
    background-color: #f5f5f5; /* Fondo gris claro para el encabezado */
    font-weight: bold;
    color: #333;
}

#employee-results td {
    background-color: #ffffff;
}

#employee-results tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#employee-results tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#employee-results .btn {
    background-color: #f9a825;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#employee-results .btn:hover {
    background-color: #f57f17;
}

@media (max-width: 768px) {
    #employee-results th, #employee-results td {
        padding: 10px;
    }
}

#gestion-empleados h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

#gestion-empleados .content-section {
    margin: 40px auto;
    padding: 20px;
}

#employee-results .btn-warning {
    background-color: #ffc107;
    color: white;
}

#employee-results .btn-warning:hover {
    background-color: #e0a800;
}

#employee-results .btn-danger {
    background-color: #dc3545;
    color: white;
}

#employee-results .btn-danger:hover {
    background-color: #c82333;
}

.login-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

#login-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.login-form .btn {
    background-color: #f9a825; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0;
}

.login-form .btn:hover {
    background-color: #f57f17; /* Cambio de color en hover */
}

.incidencia-form input,
.incidencia-form select,
.incidencia-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.incidencia-form .btn {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.incidencia-form .btn:hover {
    background-color: #e67e22;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f8f9fa;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #dee2e6;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    margin-right: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.incidencia-form input, 
.incidencia-form select, 
.incidencia-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#incidenceCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#incidenceCards .card {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

#incidenceCards .card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .features-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        height: 50vh;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .about-section {
        height: auto;
    }

    .about-text {
        max-width: 100%;
    }

    #flight-results, #parking-results, #employee-results {
        overflow-x: auto;
    }

    .content-section {
        padding: 20px;
    }
}

